html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  /* overflow: hidden; */
}
body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 100vh;
  position: relative;
  display: block;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 0;
  /* padding-top: 56.25%; */
}
.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  background-size: 100% 4px, 30px 100%;
  z-index: 1000;
  animation: flicker 100ms infinite;
  pointer-events: none;
}
.video-overlay:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 70%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 12;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

@keyframes flicker {
  0% {
    transform: translateY(0.3px);
  }
  100% {
    transform: translateY(0px);
  }
}

body{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(209, 243, 243); */
  background-image: url('/public/assets/cloud-background.jpg');
  background-size: cover;
  background-position: center;
  /* filter: blur(5px); */
  z-index: -1;
  /* background: cover; */
}

/* 
*/
/*  ~  S I D E B A R  ~   */
/* 
*/

#sidebar-always-displayed{
  position: absolute;
  z-index: 11;
  display: flex;
  width: 3vw;
  min-width: 80px;
  height: 100vh;
  /* border: 2px solid white; */
  background-color: rgba(220, 225, 231, 0.85);

  /* Left-side drop shadow */
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.9);

}
#mySidebar{
  position: fixed;
  z-index: 12;
  /* width: 20px; */
}
.sidebar-container {
  background-color: rgba(220, 225, 231, 0.75);
  position: absolute;
  height: 800px;
  width: 400px;
  /* border: 2px solid black; */
  /* z-index: 11; */
  /* margin: 0 auto; */
  height: 100vh;
}
#menu_button{
  display: flex;
  width: 3vw;
  height: 5vh;
  font-size: 40px;
  margin: 0 auto;
  border: 2px solid black;
  background-color: rgba(220, 225, 231, 0.25);
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 35px;
  padding-bottom: 4px;
  margin-top: 10px;
  padding-left: 2px;
  border: none;
  cursor: pointer;

}
#sidebar_close_button{
  font-size: 28px;
  width: fit-content;
  height: 24px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: transparent;
  position: relative;
  left: 350px;
  top: 20px;
  padding: 2px;
  padding-bottom: 3px;
}
#sidebar_close_button:hover{
  background-color: rgba(173, 173, 230, 0.2);
}

/* SIDEBAR - Header */

#weather-logo,
#pin-icon {
  width: 40px;
  /* border: 2px solid red; */
  height: fit-content;
}

.header-container {
  display: flex;
  /* border: 2px solid black; */
  height: 50px;
  width: 300px;
  align-items: center;
  margin: 0 auto;
  /* justify-content:space-around; */
  position: relative;
  bottom: 18px;
  right: 30px;

}
#divider1{
  background-color: aliceblue;
  height: 1px;
  width: 400px;
}

.weather-app-title {
  position: relative;
  left: 20px;
  font-size: 26px;
}

#weather-logo {
  position: relative;
  left: 10px;
}

/*  SIDEBAR - Currently Displayed Location */
.location-box {
  border: 2px solid black;
  width: 280px;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  margin: 0 auto;
  position: relative;
  top: 70px;
  padding: 5px 0;
  font-size: 20px;
}

#search-box{
  margin: 0 auto;
  width: fit-content;
  /* border: 2px solid black; */
  position: relative;
  top: 100px;
}
#search-bar-text{
  width: 250px;
  /* border: 2px solid saddlebrown; */
  height: 30px;
  font-size: 20px;
}

#pin-icon {
  width: 18px;
  position: relative;
  left: 10px;
}

#city {
  position: relative;
  left: 20px;
  font-weight: 900;
}

#state_country {
  position: relative;
  left: 20px;
}

/* SIDEBAR - Footer */
.footer {
  position: relative;
  top: 850px;
  margin: 0 auto;
  width: fit-content;

}


/* 
*/
/*   ~   W E E K L Y       F O R E C A S T  ~  */
/* 
*/

.mainContent{
  position: relative;
  z-index:10;
}


#weather-weekly-container{
  /* border: 4px solid black; */
  width: fit-content;
  height: fit-content;
  position: relative;
  top: 14vh;
  width: 50vw;
  height: fit-content;
  /* left: clamp(500px, 5vw, 600px); */
  left: 40vw;
  /* z-index: 20; */
}

/* Weekly Header */
#header{
  /* border: 3px solid purple; */
  /* width: 1008px; */
  height: 7vh;
  /* top: 100px; */
  margin: 0 auto;
  background-color: rgba(29, 50, 174, 0.6);
  /* horiz, vert, blur, spread, color */
  box-shadow: inset 0 0 2px 1px white;
  color: white;
  align-content: center;
  font-size: clamp(1em, 2vw, 10em);
  font-weight: 900;
  padding-left: 10px;
  box-sizing: border-box; /*Special! When I added padding above, the width extended. This makes that not happen*/
}

/* Box - Day */
#days-box-collection{
  /* border: 3px solid green; */
  display: flex;
  align-items: center;
  /* height: fit-content; */
  /* width: fit-content; */
  /* min-height: 400px; */
  /* margin: 0 auto; */
}
#weather-info-container{
  /* border: 5px solid cornflowerblue; */
  width: 10vw;
  min-width: 7vw;
  height: fit-content;
  /* min-height: fit-content; */
  background-color: rgba(29, 50, 174, 0.6);
  /* horiz, vert, blur, spread, color */
  box-shadow: inset 0 0 2px 1px white;
}
#day{
  /* border: 2px solid black; */
  text-align: center;
  color: white;
  font-weight: 900;
  position: relative;
  font-size: clamp(1em, 2vw, 10em);
  /* font-size: 40px; */
  /* top: 10px; */
  box-sizing: border-box;
}
#image{
  text-align: center;
  /* margin: 0 auto; */
  /* width: fit-content; */
  /* width: 80px; */
  /* border: 2px solid pink; */
  position: relative;
  top: 5vh;
  display: flex;
}
#weather-icon{
  width: 7vw;
}
#condition{
  text-align: center;
  color: white;
  font-weight: 900;
  position: relative;
  font-size: clamp(0.4em, 1.05vw, 10em);
  margin: 0 auto;
  height: 7vh;
  position: relative;
  /* top: 6vh; */
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  /* margin-bottom: 2vh; */

}
#high{
  text-align: center;
  color: white;
  font-weight: 900;
  position: relative;
  /* top: 200px; */
  font-size: clamp(1em, 2vw, 10em);
  /* top: 14vh; */
  /* border: 2px solid black; */
  margin-top: 10vh;
}
#low{
  text-align: center;
  color: white;
  font-weight: 900;
  position: relative;
  /* top: 14vh; */
  font-size: clamp(1em, 2vw, 10em);
  /* border: 2px solid black; */
  margin-top: 2vh;
}
/* 
*/
/*   ~  H O U R L Y   F O R E C A S T   ~   */
/* 
*/

#hourly-section{
  position: absolute;
  height: fit-content;
  width: 1600px;
  background-color: #fff;
  border-radius: 10px;
  top: 850px;
  left: 500px;
  box-sizing: border-box;
  /* border: 4px solid brown; */
  display: flex;
  z-index: 10;

}
#hourly-boxes{
  width: 150px;
  box-sizing: border-box;
  border: 2px solid cadetblue;
  /* margin: 0 auto; */
  
}
.hourly-elements{
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
  /* border-radius: 10px; */
}

/*  
*/
/*   ~  T O D A Y'S    W E A T H E R  ~  */
/* 
*/

#weather-current-container{
  /* width: 500px; */
  width: 24vw;
  /* height:fit-content; */
  /* height: 62vh; */
  position: absolute;
  top: 10vh;
  left: 10vw;
  z-index: 10;
  /* background-color: #083e84bb; */
  /* width: fit-content; */
  /* border: 2px solid green; */
  background-color: rgba(29, 50, 174, 0.6);
  box-shadow: inset 0 0 2px 1px white;
  min-height: 200px;
}
#current-city{
  font-size: clamp(1em, 3.2vw, 10em);
  margin: 0 auto;
  width: fit-content;
  color: #fff;
  position: relative;
  top: 3vh;
  /* border: 2px solid black; */
}
#current-image-container{
  /* border: 2px solid black; */
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  position: relative;
  /* top: 50px; */
}
#current-image{
  /* border: 2px solid purple; */
  width: 22vw;
  position: relative;
  z-index: 12;
  /* left: 20px; */
  top: 5vh;
  margin-top: -8vh;
  margin-bottom: -2vh;
  
}
#current-temp-container{
  /* border: 2px solid orange; */
  /* width: 250px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 14vh;
  /* right: 20px; */
  /* margin: 0 auto; */
}
#current-temp{
  font-size: clamp(1em, 5vw, 10em);
  position: relative;
  /* bottom: 100px; */
  /* left: 20px; */
  margin: 0 auto;
  width: fit-content;
  color: white;
  /* border: 2px solid springgreen; */
}
#current-feelsLike{
  color: white;
  font-size: clamp(1em, 2vw, 10em);
  /* border: 2px solid gray; */
}
#current-condition{
  display: flex;
  font-size: clamp(1em, 3vw, 10em);
  position: relative;
  color: #fff;
  margin: 0 auto;
  width: fit-content;
  /* height: 120px; */
  /* border: 2px solid yellow; */
  align-items: center;
  height: 12vh;
  /* bottom: 400px; */
  /* left: 350px; */
}


/* 
*/
/*  ~  C I T Y   S E A R C H  ~  */
/* 
*/

.suggestions-dropdown {
  list-style: none;
  padding: 0;
  margin-top: 4px;
  border: 1px solid #ccc;
  background-color: white;
  position: absolute;
  z-index: 100;
  width: 100%;
}

.suggestions-dropdown li {
  padding: 8px;
  cursor: pointer;
}

.suggestions-dropdown li:hover {
  background-color: #f0f0f0;
}


/* BUTTONS */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  /* position: relative; */
  /* top: 40px; */
  /* left: 1000px; */
  /* border: 2px solid black; */
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
  
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
#overlay-text{
  color: black;
  font-size: 30px;
  /* border: 2px solid pink; */
}
#button1-container{
  /* border: 2px solid palegoldenrod; */
  display: flex;
  width: 300px;
  position:absolute;
  top: 40px;
  left: 1600px;
  justify-content: space-around;
  align-items: center;
}

/* S C R O L L E R / C H I R O N */
.scrollerWrapper {
  overflow: hidden;
  position: relative;
  border: 2px solid black;
  top: 22vh;
  background-color: rgba(8, 19, 35, 0.536);
  width: 90vw;
  left: 6vw;
  /* margin: 0 auto; */
}

ul.scroller {
  display: flex;
  position: relative;
  white-space: nowrap;
  font-size: 0;
  margin: 0;
  padding: 0;
  /* border: 2px solid black; */
}

ul.scroller li {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  padding: 1vw;
  list-style: none;
  color: #ffffff;
  /* border: 2px solid black; */
}

#img1, #img2, #img3 {
  width: 1000px;
}
